<h1 class="current-category"><%= params[:category] %></h1>

<% if @beers.count == 0 %>
	<h2>There are no beers currently in this category</h2>
<% else %>

	<div class="row">
		<%- @beers.each do |f| %>
		<div class="col-md-3">
			<a href="/beers/<%= f.id %>" >
				<%= image_tag f.beer_image.url(:beer_index), class: "beer" %>
			</a>
		</div>
		<% end %>
	</div>
	
	
	
<% end %>
