<h1 class="current-category"><%= params[:category] %></h1>

<% if @beers.count == 0 %>
	<h2>There are no beers currently in this category</h2>
<% else %>
	<%- @beers.each do |f| %>
		<h2><%= link_to f.name, beer_path(f) %></h2>
	<% end %>
<% end %>
